@import url('http://fonts.cdnfonts.com/css/vcr-osd-mono');

.game-board {
  background-color: transparent;

  position: fixed;
  top: 0;
  right: 30%;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  padding-top: 3%;
}

.game-menu {
  background-color: #3B2226;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(70% + 10px);
  padding: 10px;

  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 10px;
}

.border-game {
  background-color: #221A21;

  position: fixed;
  top: 0;
  right: calc(30% - 10px);
  bottom: 0;
  left: 70%;
}

.game-controls {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  position: fixed;
  height: 30vw;
  right: 0;
  bottom: -55px;
  left: calc(70% + 10px);
  padding: 75px;
}

.game-key {
  background-color: #AC5036;
  color: black;
  border-color: #893A34;
  border-style: outset;
  border-width: 7px;
  font-size: larger;
  font-family: 'VCR OSD Mono', sans-serif;

  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.game-key:hover {
  background-color: #ED994F;
  color: white;
  border-color: #B65937;
}
.game-key:active {
  background-color: #d48845;
  color: white;
  border-color: #a54f30;
}
.key-space {
  grid-column: span 3;
}

.game-back {
  background-color: #AC5036;
  color: black;
  border-color: #893A34;
  border-style: outset;
  border-width: 7px;
  font-size: larger;
  font-family: 'VCR OSD Mono', sans-serif;

  position: absolute;
  height: calc(100% * 1/9);
  width: 15vw;
  top: 20px;
  right: 7.5vw;
}
.game-back:hover {
  background-color: #ED994F;
  color: white;
  border-color: #B65937;
}

.game-instructions {
  position: fixed;
  top: calc(calc(100% * 1/9) + 80px);
  right: 0;
  bottom: calc(30vw - 60px);
  left: calc(70% + 10px);
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.instruction-text {
  color: grey;
  font-size: 1.7em;
  font-family: 'VCR OSD Mono', sans-serif;
}

.instruction-break {
  height: 20px;
}
