body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import './board.scss';
@import './level-editor.scss';
@import './snake.scss';
//@import './font-awesome.min.scss';
@import './main.scss';
@import './normalize.scss';
@import './skeleton.scss';
