  /* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
//button,
.button {
  margin-bottom: 1rem; }
input{
  color:black;
}
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
.p {
  margin-bottom: 2.5rem; 
  color: white;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
}
.ul,
ol {
  margin-bottom: 2.5rem; 
  color: white
}